<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <% image_tag "logo_restaurantdupont_nav.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to accueil_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Accueil"   %>
    <% end %>
    <%= link_to platsaemporter_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Livraison et à emporter"   %>
    <% end %>
    <%= link_to restaurant_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Restaurant"   %>
    <% end %>
    <%= link_to menu_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Menus (indisponible)"   %>
    <% end %>
    <%= link_to boncadeau_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Bon Cadeau"   %>
    <% end %>
    <%= link_to new_contact_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Contact & Réservation"   %>
    <% end %>


    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
       <!-- Links -->
 <%= link_to accueil_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Accueil"   %>
    <% end %>
    <%= link_to restaurant_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Restaurant"   %>
    <% end %>
    <%= link_to menu_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Menus"   %>
    <% end %>
    <%= link_to boncadeau_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Bon Cadeau"   %>
    <% end %>
    <%= link_to new_contact_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t ".", default: "Réservation"   %>
    <% end %>
      </ul>
    </div>
  </div>
</div>
