<div class="wrapper-home" style="padding-top:400px;flex-direction: column; background-image: url(<%= image_path 'n1-2019.jpg' %>); background-attachment: fixed;">
  <div style="padding-top: 0px;">
    <%= image_tag 'logo_restaurantdupont_60.png', :id => "logohome" %>
  </div><br><br>
  <section>
  <a style="text-decoration: none;" href="http://www.restaurant-du-pont.fr/platsaemporter">
  <div class="col-xs-12 gal-item col-centered">
        <p style="background-color: #54bb87d6; padding: 20px;color:white;font-size: 25px;">RETROUVEZ ICI NOS VENTES À EMPORTER DU 19 AU 21 MARS (COMPLET)<br>
  </div>
</a>
</section>
<!--

  <section>
  <a style="text-decoration: none;" href="http://www.restaurant-du-pont.fr/menu">
  <div class="col-xs-12 gal-item col-centered">
        <p style="background-color: #6a9680d6; border-radius: 15px; padding: 17px;color:white;font-size: 25px;">Commandes complètes pour la Saint-Valentin.
  </div>
</section> -->

  <div class="icon_scroll">
     <i class="fa fa-caret-down" id="icon_scroll" aria-hidden="true"></i>
  </div>
</div>

<div class="wrapper_produits" id="home_2">
  <h1>Notre univers</h1>
  <div class="line"></div>
  <p>Nous vous proposons de découvrir une cuisine audacieuse, où les saveurs et les textures sont judicieusement associées.<br><br>
  Dans une ambiance chic et décontractée, laissez-vous séduire par nos mets et vins subtilement pensés pour un voyage culinaire inattendu...</p>
</div>

<section>

  <div class="container gal-container">

    <div class="col-md-8 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "n2-2019.jpg" %>
        <div class="modal fade" id="1" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "pic_home4.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "n3-2019.jpg" %>
        <div class="modal fade" id="2" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "pic_home3.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "n4-2019.jpg" %>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "pic_home2.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "dessert.jpg" %>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "dessert.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="wrapper_produits" id="home_2">
  <h1>Nos Produits</h1>
  <div class="line"></div>
  <p>Choisis minutieusement tous les jours, nous mettons en avant les produits du terroir et de saison. Nos vins sont également sélectionnés avec attention pour révéler pleinement les arômes de chaque plat.<br><br>
  Vous serez enchantés par des mariages osés, des cuissons élaborées et des présentations recherchées.</p>
</div>

<section>
  <div class="container gal-container">

    <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "legumes.jpg" %>
        <div class="modal fade" id="5" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "legumes.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "poissons.jpg" %>
        <div class="modal fade" id="6" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
               <%= image_tag "poissons.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "viande.jpg" %>
        <div class="modal fade" id="7" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "viande.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "vins.jpg" %>
        <div class="modal fade" id="8" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "vins.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="wrapper_produits" id="home_2">
  <h1>Le Lieu</h1>
  <div class="line"></div>
  <p>Le Restaurant du Pont, au passé culinaire bien connu des Nantais, vous séduira par sa situation géographique aux portes du vignoble.<br><br>
  Doté de deux salles et d'une terrasse dans un environnement boisé le long de la Goulaine, cet endroit charmera les gourmets à la recherche d'une cuisine créative et florale.</p>
  <a href="https://tourmkr.com/G1rYIdC7FK" target="_blank" class="btn btn-visite">Visite virtuelle 360°</a>
</div>

<section>
  <div class="container gal-container">

    <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
      <div class="box" id="visite">
        <%= image_tag "salle.jpg" %>
        <div class="modal fade" id="7" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnJLkroYkZ1bG6TiYde_yX7F1l_aHKlJI&callback=initMap">
        </script>
        <style>
        #map {
          height: 100%;
          width: 100%;
        }
        </style>
        <div id="map"></div>
        <script>
          function initMap() {
            var uluru = {lat: 47.21526, lng: -1.474949};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 12,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
    <div class="box" id="info_restaurant">
      <h1> Restaurant du Pont </h1>
      <p>147 rue du Grignon</p>
      <p>44115 Basse-Goulaine</p>
      <p>France</p><br>
      <ul>
        <li style="color: red;">
            Lundi: FERMÉ
          </li>
          <li>
            mardi: 12:00 - 13:45 / 19:30 - 21:00
          </li>
          <li>
            mercredi midi: 12:00 - 13:45
          </li>
          <li style="color: red;">
            mercredi soir: sur réservation
          </li>
          <li>
            Jeudi: 12:00 - 13:45 / 19:30 - 21:00
          </li>
          <li>
            Vendredi: 12:00 - 13:45 / 19:30 - 21:00
          </li>
          <li style="color: red;">
          samedi midi: sur réservation
          </li>
          <li>
          samedi soir: 19:30 - 21:00
          </li>
          <li>
          dimanche: 12:00 - 13:45
          </li>
      </ul><br>
      <ul>
        <li>Tél : 02 40 03 58 62</li>
        <li>e-Mail : contact@restaurant-du-pont.fr </li>
      </ul>
    </div>
    </div>
    </section>
</div>


