<div class="wrapper-home" style="background-image: url(<%= image_path 'home1.jpg' %>)">
  <div class="icon_scroll">
     <i class="fa fa-caret-down" id="icon_scroll" aria-hidden="true"></i>
  </div>
</div>


  <div class="row">

    <div class="wrapper_univers" id="home_2">
      <div class="notre_univers">
        <h1>Notre univers</h1>
        <div class="line"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="univers_pics" style="margin: 0px auto;">
        <div class="verticale_pics" style="background-image: url(<%= image_path 'pic_home3.jpg' %>)">
        </div>
        <div class="horizontale_pics">
          <div class="pic_1" style="background-image: url(<%= image_path 'dessert.jpg' %>)">
          </div>
          <div class="pic_2" style="background-image: url(<%= image_path 'pic_home2.jpg' %>)">
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper_produits" id="home_2" style="background-color: #fbfbfb;">
      <div class="nos_produits">
        <h1>Nos produits</h1>
        <div class="line"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="univers_pics" style="margin: 0px auto;">
        <div class="horizontale_pics">
          <div class="pic_1" style="background-image: url(<%= image_path 'dessert.jpg' %>)">
          </div>
          <div class="pic_2" style="background-image: url(<%= image_path 'pic_home2.jpg' %>)">
          </div>
        </div>
        <div class="verticale_pics" style="background-image: url(<%= image_path 'pic_home3.jpg' %>)">
        </div>
      </div>
    </div>

  </div>
