<div class="container">
  <div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "salle.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "salle.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p style="padding:25px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">LE RESTAURANT DU PONT VOUS PROPOSE DE DÉCOUVRIR UNE CUISINE À LA FOIS TRADITIONNELLE, GASTRONOMIQUE ET FLORALE.<br><br>AU GRÉ DU MARCHÉ ET AU FIL DES SAISONS, LA MISE EN VALEUR DES PRODUITS LOCAUX ET DES VINS DE NOTRE RÉGION SERA NOTRE MAÎTRE MOT.<br><br> LE TEMPS D'UN REPAS, LAISSEZ-VOUS SÉDUIRE PAR NOTRE INVENTIVITÉ...<p>
  </div>
</div>

<section>

  <div class="container gal-container">

    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "salle_1.jpg" %>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle_1.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "salle_2.jpg" %>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle_2.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "salle_4.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "salle_4.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "salle_3.jpg" %>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle_3.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "salle_5.jpg" %>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle_5.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

