<% content_for :meta_title, "Restaurant - Restaurant du Pont - Basse-Goulaine" %>
<% content_for :meta_description, "Le Restaurant du Pont, au passé culinaire bien connu des Nantais, vous séduira par sa situation géographique aux portes du vignoble." %>

<div class="container">
  <div class="row" style="padding-top: 80px;text-align: center;">
  <section>
    <div class="container gal-container">

      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "salle.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "salle.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p style="padding:25px;letter-spacing: 0.3em;text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif !important; font-size: 15px;">Le Restaurant du Pont au passé culinaire bien connu des Nantais, vous séduira par sa situation géographique aux portes du vignoble.<br><br>
  Doté de deux salles et d'une future terrasse, dans un environnement boisé le long de la Goulaine, cet endroit charmera les gourmets à la recherche d'une cuisine créative et florale.</p>
   <a href="https://tourmkr.com/G1rYIdC7FK" target="_blank" class="btn btn-visite">Visite virtuelle 360°</a><br><br>
  </div>
</div>

<section>

  <div class="container gal-container">

    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "salle_1.jpg" %>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle_1.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "salle_2.jpg" %>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle_2.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <%= image_tag "salle_4.jpg" %>
          <div class="modal fade" id="7" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag "salle_4.jpg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "salle_3.jpg" %>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle_3.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= image_tag "salle_5.jpg" %>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag "salle_5.jpg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

