<div class="container">
  <div class="row">
  <div class="wrapper">
    <h1>Envoyez nous un message</h1>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :nom, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      </br>
      <%= f.button :submit, 'Envoyer', :class=> "btn-send" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
